*{
    
    
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: maroon;
    /* your styles here */
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: #eb8f16;
  }
  
  .style2 {
    background-color: #960303;
  }
  
  .style3 {
    background-color: #450552;
  }
  
  .style4 {
    background-color: #298f0a;
  }
  
  .style5 {
    background-color: #0a4e5a;
  }
  
  .style6 {
    background-color: #800f4d;
  }

  
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }